---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

  </head>


  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    <div class="banner">
      <img src="{{ '/images/banner.jpg' | relative_url }}" alt="Banner Image">
  </div>

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

<!-- <script>
  let lastScrollY = window.scrollY;

  document.addEventListener('scroll', debounce(() => {
      const banner = document.querySelector('.banner');
      const scrollY = window.scrollY;

      const fadeStart = 30; // Adjust this value

      if (scrollY > fadeStart) {
          banner.classList.add('hidden');
      } else {
          banner.classList.remove('hidden');
      }
  }, 100)); // Adjust debounce time as needed

  function debounce(func, wait) {
      let timeout;
      return function(...args) {
          const context = this;
          clearTimeout(timeout);
          timeout = setTimeout(() => func.apply(context, args), wait);
      };
  }
  </script> -->